
<label class="label">Services</label>
<p class="control">
  <span class="select">
    <select [(ngModel)]="selectedService">
      <option *ngFor="let service of services" [ngValue]="service">{{service.name}}</option>
    </select>
  </span>
</p>

<p class="control" *ngIf="selectedService">
  <label class="label">Options</label>
  <span class="select">
    <select [(ngModel)]="selectedOption">
      <option *ngFor="let option of selectedService.options.option" [ngValue]="option">{{option.name}}</option>
    </select>
  </span>
</p>

<p class="control" *ngIf="selectedOption && selectedOption.suboptions">
  <label class="label">Suboptions</label>
  <span class="select">
    <select [(ngModel)]="selectedSuboption">
      <option *ngFor="let suboption of selectedOption.suboptions.option" [ngValue]="suboption">{{suboption.name}}</option>
    </select>
  </span>
</p>

