<p class="control">
  <label class="radio">
    <input type="radio" name="type">
    Domestic Letter
  </label>
  <label class="radio">
    <input type="radio" name="type">
    Domestic Parcel
  </label>
  <label class="radio">
    <input type="radio" name="type">
    International Letter
  </label>
  <label class="radio">
    <input type="radio" name="type">
    International Parcel
  </label>
</p>
<div class="control is-grouped">
  <p class="control">
    <button class="button is-link">Domestic</button>
  </p>
  <p class="control">
    <button class="button is-link">International</button>
  </p>
</div>
<p class="control">
  <span class="select">
    <select>
      <option *ngFor="let country of countries">{{country.description}}</option>
    </select>
  </span>
</p>
