<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink="/domestic-letter" routerLinkActive="is-active">
      <span>Domestic Letter</span>
    </a>
    <a md-menu-item routerLink="/domestic-parcel" routerLinkActive="is-active">
      <span>Domestic Parcel</span>
    </a>
    <a md-menu-item routerLink="/international-letter" routerLinkActive="is-active">
      <span>International Letter</span>
    </a>
    <a md-menu-item routerLink="/international-parcel" routerLinkActive="is-active">
      <span>International Parcel</span>
    </a>
  </md-menu>
</md-toolbar>

<section class="section">
  <div class="container is-fluid">
    <router-outlet></router-outlet>
  </div>
</section>
