<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item" routerLink="/domestic-letter">
      <span class="icon">
        <i class="fa fa-calculator"></i>
      </span>
      &nbsp;
      <div class="nav-item">{{title}}</div>
    </a>
  </div>
  <div class="nav-center">

  </div>
  <div class="nav-right">
    <a class="nav-item is-tab" routerLink="/domestic-letter" routerLinkActive="is-active">Domestic Letter</a>
    <!--<a class="nav-item is-tab" routerLink="/domestic-parcel" routerLinkActive="is-active">Domestic Parcel</a>
    <a class="nav-item is-tab" routerLink="/international-letter" routerLinkActive="is-active">International Letter</a>
    <a class="nav-item is-tab" routerLink="/international-parcel" routerLinkActive="is-active">International Parcel</a>-->
  </div>
</nav>
<section class="section">
  <div class="container is-fluid">
    <router-outlet></router-outlet>
  </div>
</section>
